.navbar-search__active {
    width: 20vw;
}

.products-filter__visibility {
    border: 1px solid black;
}

.products-dropdown__visibility {
    display: flex!important;
    border: 1px solid black;
}

/* NavBar */


    .navbar-btn__active   span:first-child {
         transform: rotate(-45deg) translate(-10px, .4rem);
        
    }
    .navbar-btn__active  span:nth-child(2) {
        opacity: 0;
    }
    
    .navbar-btn__active  span:nth-child(3) {
        transform: rotate(45deg) translate(-8px,-.3rem);
    }
 
    /* Filters */

.filter-checkbox__checked {
    background-color: black!important;
}

.filter-option__active {
border: 1.4px solid black!important;
}

.filter-sortText__active::before{
    opacity: 1!important;
}